astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
ci-info==0.2.0
click==7.1.2
dataclasses==0.6
decorator==4.4.2
etelemetry==0.2.1
filelock==3.0.12
fslpy==3.2.2
h5py==2.10.0
idna==2.10
isodate==0.6.0
lazy-object-proxy==1.4.2
lxml==4.5.2
mccabe==0.6.1
networkx==2.4
nibabel==3.1.1
nipype==1.5.0
numpy==1.19.0
packaging==20.4
prov==1.5.3
pydot==1.4.1
pydotplus==2.0.2
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
rdflib==5.0.0
requests==2.24.0
scipy==1.5.1
simplejson==3.17.2
six==1.15.0
toml==0.10.1
traits==6.1.0
urllib3==1.25.9
wrapt==1.12.1
